/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 23, 2024, 11:46:56 PM
    Author     : anhkc
*/
.about-us {
    /*font-family: Arial, sans-serif;*/
    font-family: sans-serif,Arial, Helvetica ;
    line-height: 1.6;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.about-us h2, .about-us h3 {
    color: #333;
    margin-top: 20px;
}

.about-us p {
    color: #666;
    margin-bottom: 10px;
}

.about-us ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #666;
}

.about-us li {
    margin-bottom: 8px;
}

